*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin: 15px 10px 10px 10px;
}
h1{
    color: teal;
    margin: 10px 10px;
}
p{
    margin: 10px 10px;
}
img{
    width: 350px;
   margin: 15px 25px;
    
}